@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="py-2 text-white">@ViewData["Title"]</h3>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
        </div>
    </div>
    <div class="card-body p-4">
            <div>
                <form id="profile-form" method="post" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                        <label asp-for="Username" class="form-label"></label>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-primary">Save</button>
                </form>
            </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
